<div class="home">
  <div class="columns">
    <div class="column is-narrow ">
      <img class="o-logo" src="/assets/oksg.png">
    </div>
    <div class="column o-header-text">SSOL2 Slovenj Gradec
    </div>
    <div class="column is-narrow">
      <img class="o-logo is-pulled-right" src="/assets/sgmtbo2018.png">
    </div>
  </div>
  <div class="o-content">
    <a *ngFor="let cat of data;" class="o-cat-btn" routerLink="/results/{{cat.ID}}">{{ cat.CATEGORYNAME }}</a>
  </div>
  <a routerLink="/start">Start</a>
  <a routerLink="/start/1">Start 1</a>
  <a routerLink="/live">Live</a>
  <a routerLink="/live/1">Live 1</a>
</div>
